<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--      layout:decorate="~{../fragment/layout.html}"-->
<head>

    <title>Le Post</title> <!-- pass title here -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travelix Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/styles/bootstrap4/bootstrap.min.css"
          th:href="@{/styles/bootstrap4/bootstrap.min.css}">
    <link href="../../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/plugins/OwlCarousel2-2.2.1/owl.carousel.css"
          th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" href="../../static/plugins/OwlCarousel2-2.2.1/owl.theme.default.css"
          th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
    <link rel="stylesheet" type="text/css" href="../../static/plugins/OwlCarousel2-2.2.1/animate.css"
          th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
    <link rel="stylesheet" type="text/css" href="../../static/plugins/colorbox/colorbox.css"
          th:href="@{/plugins/colorbox/colorbox.css}">
    <link rel="stylesheet" type="text/css" href="../../static/styles/main_styles.css"
          th:href="@{/styles/main_styles.css}">
    <link rel="stylesheet" type="text/css" href="../../static/styles/responsive.css"
          th:href="@{/styles/responsive.css}">
    <link rel="stylesheet" type="text/css" href="../../static/styles/single_listing_styles.css"
          th:href="@{/styles/single_listing_styles.css}">
    <link rel="stylesheet" type="text/css" href="../../static/styles/single_listing_responsive.css"
          th:href="@{/styles/single_listing_responsive.css}">
    <link rel="stylesheet" type="text/css" href="../../static/styles/contact_styles.css"
          th:href="@{/styles/contact_styles.css}">
    <link rel="stylesheet" type="text/css" href="../../static/styles/contact_responsive.css"
          th:href="@{/styles/contact_responsive.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #myCarousel .list-inline {
            white-space: nowrap;
        }

        #myCarousel .carousel-indicators {
            position: static;
            left: initial;
            width: initial;
            margin-left: initial;
            padding: 20px;
        }

        #myCarousel .carousel-indicators > li {
            width: initial;
            height: initial;
            text-indent: initial;
        }

        #myCarousel .carousel-indicators > li.active img {
            opacity: 0.7;
        }

        .fa-thumbs-up {
            font-size: 50px;
            margin-top: 30px;
        }

        .rating_numbers {
            margin-left: 1%;
            font-weight: bold;
        }
        .thumbnail{
            max-width: 200px;
        }
    </style>
</head>

<body>

<div class="super_container">
    <div th:replace="fragment/header :: header(title= ${post.getTitle()})"></div> <!-- pass place name here -->

    <div layout:fragment="content" style="margin-top: 150px">
        <div class="container">
            <div class="row">
                <div class="super_container">
                    <div class="single_listing">

                        <!-- Hotel Info -->
                        <h1 th:text="${currentPost.title}" style="font-weight: bold"></h1>
                        <div class="hotel_info">

                            <!-- Title -->

                            <div class="container py-2">
                                <div class="row">
                                    <div class="col-md-12" id="slider">
                                        <div id="myCarousel" class="carousel slide">
                                            <!-- main slider carousel items -->
                                            <div class="carousel-inner">
                                                <div th:each="img,iter : ${post.getImages()}" th:if="${iter.index == 0}"
                                                     th:class="${'active carousel-item'}"
                                                     th:data-slide-number="${iter.index}">
                                                    <img th:data-id="${img.getId()}" th:src="${img.getSource()}"
                                                         class="img-fluid big_image">
                                                </div>
                                                <div th:each="img,iter : ${post.getImages()}" th:if="${iter.index != 0}"
                                                     th:class="${'carousel-item'}" th:data-slide-number="${iter.index}">
                                                    <img th:data-id="${img.getId()}" th:src="${img.getSource()}"
                                                         class="img-fluid big_image">
                                                </div>
                                            </div>

                                            <ul class="carousel-indicators list-inline mx-auto border px-2">
                                                <li th:each="img,iter : ${post.getImages()}" th:if="${iter.index == 0}"
                                                    th:class="${'list-inline-item active'}">
                                                    <a th:id="${'carousel-selector-' + iter.index}" class="selected"
                                                       th:data-slide-to="${iter.index}" data-target="#myCarousel">
                                                        <img th:src="${img.getSource()}" class="img-fluid thumbnail">
                                                    </a>
                                                </li>
                                                <li th:each="img,iter : ${post.getImages()}" th:if="${iter.index != 0}"
                                                    th:class="${'list-inline-item'}">
                                                    <a th:id="${'carousel-selector-' + iter.index}"
                                                       th:data-slide-to="${iter.index}" data-target="#myCarousel">
                                                        <img th:src="${img.getSource()}" class="img-fluid thumbnail">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <!--/main slider carousel-->
<!--                                <div class="container">-->
<!--                                    <p th:utext="${currentPost.info}" th:remove="tag" style="color: black"></p>-->
<!--                                </div>-->
                                <div class="blog_post_text">
                                    <p th:utext="${currentPost.info}" th:remove="tag" style="color: black"></p>
                                </div>

                            </div>

                            <!--  modal popup here -->
                            <div class="modal bd-example-modal-lg fade in" th:id="modaltest">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content" style="padding: 40px;">
                                        <div class="modal_hotel_image">
                                            <img style="max-width: 100%" th:src="@{/images/listing_hotel.jpg}">
                                        </div>
                                        <div>

                                            <span data-img-id=""><i class="fa fa-thumbs-up rate_img"></i></span>
                                            <span class="rating_numbers">
                                                <span class="img_rating"></span>
                                            </span>

                                        <div class="reviews">
                                            <div class="reviews_title">Comments</div>
                                            <div class="reviews_container modal_reviews">
                                                <!-- Comment -->
                                            </div>

                                            <div class="reviews_title">Your Comment</div>

                                            <form id="image_comment_form" action="/comment/create" method="post"
                                                  class="contact_form text-center">
                                                <input type="hidden" name="userId" th:value="${post.getUserId()}">
                                                <input type="hidden" name="imageId" th:value="${post.getId()}">
                                                <textarea class="text_field contact_form_message"
                                                          name="content" rows="4" required="required"
                                                          placeholder="What do you think?"
                                                          data-error="Please, write us a comment."
                                                          style="color: black;"></textarea>
                                                <button type="submit" class="form_submit_button button trans_200">post
                                                    comment<span></span><span></span><span></span></button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hotel_info_text">
                                <div th:utext="${post.getInfo()}"></div>
                            </div>

                        </div>
                        <div>
                            <span th:data-post-id="${post.getId()}"><i class="fa fa-thumbs-up rate_post"></i></span>
                            <input type="hidden" th:id="'loggedInUser'" th:value="${#authentication.getName()}">
                            <span class="rating_numbers">
                                <span class="post_rating" th:text="${like}" th:data-status="${likeStatus}">
                                </span>
                             </span>
                        </div>
                        <!-- Comments -->


                        <div class="reviews">
                            <div class="reviews_title">Comments</div>

                            <div class="reviews_container" th:if="${post.getComments() != null}"
                                 th:each="comment : ${post.getComments()}">

                                <!-- Comment -->
                                <div class="review">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <div class="review_image">
                                                <img th:src="@{/images/user.png}">
                                            </div>
                                        </div>
                                        <div class="col-lg-11">
                                            <div class="review_content">
                                                <p th:text="${comment.getContent()}"></p>
                                                <div class="review_name" th:text="${comment.getUserName()}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="reviews_title" style="margin-top: 20px">Your Comment</div>

                            <form id="post_comment_form" action="/comment/create" method="post"
                                  class="contact_form text-center">
                                <input type="hidden" name="userId" th:value="${post.getUserId()}">
                                <input type="hidden" name="postId" th:value="${post.getId()}">
                                <textarea id="contact_form_message" class="text_field contact_form_message"
                                          name="content" rows="4" required="required" placeholder="What do you think?"
                                          data-error="Please, write us a comment." style="color: black;"></textarea>
                                <button type="submit" id="form_submit_button"
                                        class="form_submit_button button trans_200">post
                                    comment<span></span><span></span><span></span></button>
                            </form>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
    <div th:replace="fragment/footer :: footer"></div>
</div>
<script src="../../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../../static/styles/bootstrap4/popper.js" th:src="@{/styles/bootstrap4/popper.js}"></script>
<script src="../../static/styles/bootstrap4/bootstrap.min.js" th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<script src="../../static/plugins/OwlCarousel2-2.2.1/owl.carousel.js"
        th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script src="../../static/plugins/easing/easing.js" th:src="@{/plugins/easing/easing.js}"></script>
<script src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<script src="../../static/js/post_detail.js" th:src="@{/js/post_detail.js}"></script>
<script src="../../static/js/single_listing_custom.js" th:src="@{/js/single_listing_custom.js}"></script>
<script src="../../static/plugins/parallax-js-master/parallax.min.js"
        th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
    <script>
        $(".rate_post").click(function (){
            if($("#loggedInUser").val() == 'anonymousUser'){
                alert("You must log in to like this post");
            }
            else{
                var formData = {
                    "postId" : $(this).parent().data('post-id'),
                    "imageId" : $(this).data('imgid'),
                    "status" : $(".post_rating").data("status"),
                };
                rate(formData);
            }
        });

        $(".rate_img").click(function (){
            if($("#loggedInUser").val() == 'anonymousUser'){
                alert("You must log in to like this image")
            }
            else {
                var formData = {
                    "postId" : 0,
                    "imageId" : $(this).data('img-id'),
                    "status" : $(".img_rating").data("status"),
                };
                rate(formData);
            }
        });
    </script>
</body>
</html>