<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Travelix</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travelix Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/styles/bootstrap4/bootstrap.min.css"
          th:href="@{/styles/bootstrap4/bootstrap.min.css}">
    <link href="../../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/plugins/OwlCarousel2-2.2.1/owl.carousel.css"
          th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/plugins/OwlCarousel2-2.2.1/owl.theme.default.css"
          th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/plugins/OwlCarousel2-2.2.1/animate.css"
          th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/styles/main_styles.css"
          th:href="@{/styles/main_styles.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/styles/responsive.css"
          th:href="@{/styles/responsive.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/styles/contact_styles.css"
          th:href="@{/styles/contact_styles.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/styles/custom-style.css"
          th:href="@{/styles/custom-style.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/simditor-2.3.23/styles/simditor.css"
          th:href="@{/simditor-2.3.23/styles/simditor.css}" >
    <script type="text/javascript" src="../../static/simditor-2.3.23/site/assets/scripts/jquery.min.js" th:src="@{/simditor-2.3.23/site/assets/scripts/jquery.min.js}"></script>
    <script type="text/javascript" src="../../static/simditor-2.3.23/site/assets/scripts/module.js" th:src="@{/simditor-2.3.23/site/assets/scripts/module.js}"></script>
    <script type="text/javascript" src="../../static/simditor-2.3.23/site/assets/scripts/hotkeys.js" th:src="@{/simditor-2.3.23/site/assets/scripts/hotkeys.js}"></script>
    <script type="text/javascript" src="../../static/simditor-2.3.23/site/assets/scripts/uploader.js" th:src="@{/simditor-2.3.23/site/assets/scripts/uploader.js}"></script>
    <script type="text/javascript" src="../../static/simditor-2.3.23/lib/simditor.js" th:src="@{/simditor-2.3.23/site/assets/scripts/simditor.js}"></script>
</head>

<body>

<div class="super_container">
    <!--header.html  that's here  -->
<!--    <div th:replace="fragment/header :: header"></div>-->
    <div th:replace="fragment/header :: header"></div>

    <div layout:fragment="content" style="margin-top: 150px">

        <!-- Contact -->

        <div class="contact_form_section">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <!-- Contact Form -->
                        <div class="contact_form_container">
                            <div class="contact_title text-center">Create post</div>
                            <form enctype="multipart/form-data" action="/posts/create" method="post" id="contact_form">
                                <div class="form-group">
                                    <label style="color: white; font-size: 18px">Title</label>
                                    <input type="text" name="title" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label style="color: white; font-size: 18px">Description</label>
                                    <input type="text" name="description" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label style="color: white; font-size: 18px">Place</label>
                                    <select name="placeId" id="" class="form form-control">
                                        <option selected disabled>Choose Place</option>
                                        <option th:each="place : ${places}" th:value="${place.id}" th:text="${place.name}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="color: white; font-size: 18px">Content</label>
                                    <textarea required name="information" id="editor" placeholder="Write Something..." autofocus></textarea>
                                </div>
                                <div class="form-group">
                                    <label style="color: white; font-size: 18px">Images</label>
                                    <input class="form-control" id="add_images" type="file" multiple="multiple" name="file">
                                </div>
                                <div class="preview_images hidden"></div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="form_submit_button button trans_200"
                                            style="display: block;">create post<span></span><span></span><span></span></button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer.html  that's here  -->
    <div th:replace="fragment/footer :: footer"></div>
</div>

<script src="../../static/js/jquery-3.2.1.min.js"
        th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../../static/styles/bootstrap4/popper.js"
        th:src="@{/styles/bootstrap4/popper.js}"></script>
<script src="../../static/styles/bootstrap4/bootstrap.min.js"
        th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<script src="../../static/plugins/OwlCarousel2-2.2.1/owl.carousel.js"
        th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script src="../../static/plugins/easing/easing.js"
        th:src="@{/plugins/easing/easing.js}"></script>
<script src="../../static/js/custom.js"
        th:src="@{/js/custom.js}"></script>

<script>
    var editor = new Simditor({
        textarea: $('#editor')
    });

    $(function() {
        var imagesPreview = function(input, display_images) {
            if (input.files) {
                var filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $($.parseHTML('<img>')).attr('src', e.target.result).appendTo(display_images);
                        $("img").addClass("preview_image");
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        };
        $('#add_images').on('change', function() {
            $('.preview_images').removeClass("hidden");
            imagesPreview(this, 'div.preview_images');
        });
        $(":reset").click(function (){
            $(".preview_images").addClass('hidden');
            $(".preview_image").remove();
        });
    });
</script>

</body>

</html>