<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--      layout:decorate="~{../fragment/layout.html}"-->
<head>
    <title>Le Place</title> <!-- pass title here -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travelix Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/styles/bootstrap4/bootstrap.min.css"
          th:href="@{/styles/bootstrap4/bootstrap.min.css}">
    <link href="../../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/plugins/OwlCarousel2-2.2.1/owl.carousel.css"
          th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/plugins/OwlCarousel2-2.2.1/owl.theme.default.css"
          th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/plugins/OwlCarousel2-2.2.1/animate.css"
          th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/styles/main_styles.css"
          th:href="@{/styles/main_styles.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/styles/responsive.css"
          th:href="@{/styles/responsive.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/styles/contact_styles.css"
          th:href="@{/styles/contact_styles.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/styles/contact_styles.css"
          th:href="@{/styles/blog_styles.css}" >
    <link rel="stylesheet" type="text/css" href="../../static/styles/contact_styles.css"
          th:href="@{/styles/blog_responsive.css}" >
</head>

<body>

<div class="super_container">
    <div th:replace="fragment/header :: header(title= ${place.name}, description = ${place.address})"></div>

    <div layout:fragment="content">
        <div class="blog" style="padding-top: 50px;" th:if="${place != null}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8" >
                        <div class="blog_post_container" style="border-bottom: 1px solid; padding-bottom: 30px; margin-bottom: 30px" th:if="${posts != null }" th:each="post: ${posts}">
                            <div class="blog_post">
                                <div class="blog_post_text">
                                    <h2 style="margin-bottom: 20px"><a style="color: black" th:text="${post.title}" th:href="@{/posts/{id}(id = ${post.id})}"></a></h2>
                                </div>
                                <div class="blog_post_image">
                                    <img th:src="${post.getImages().get(0).getSource()}">
                                </div>
                                <div class="blog_post_text">
                                    <div th:utext="${post.description}"></div>
                                </div>
                                <div class="blog_post_meta">
                                    <ul>
                                        <li class="blog_post_meta_item" style="font-size: 18px; font-weight: bold;" th:text="${'By ' + post.getUserName()}"></li>
                                    </ul>
                                </div>
                                <div class="blog_post_link"><a th:href="@{/posts/{id}(id = ${post.id})}">read more</a></div> <!-- link to detail post -->
                            </div>
                        </div>
                    </div>

                    <!-- Blog Sidebar -->

                    <div class="col-lg-4 sidebar_col">

                        <!-- Sidebar Search -->
                        <div class="sidebar_search">
                            <form action="#">
                                <input id="sidebar_search_input" type="search" class="sidebar_search_input" placeholder="" required="required">
                                <button id="sidebar_search_button" type="submit" class="sidebar_search_button trans_300" value="Submit">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="17px" height="17px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
									<g>
										<g>
											<g>
												<path class="mag_glass" fill="#FFFFFF" d="M78.438,216.78c0,57.906,22.55,112.343,63.493,153.287c40.945,40.944,95.383,63.494,153.287,63.494
												s112.344-22.55,153.287-63.494C489.451,329.123,512,274.686,512,216.78c0-57.904-22.549-112.342-63.494-153.286
												C407.563,22.549,353.124,0,295.219,0c-57.904,0-112.342,22.549-153.287,63.494C100.988,104.438,78.439,158.876,78.438,216.78z
												M119.804,216.78c0-96.725,78.69-175.416,175.415-175.416s175.418,78.691,175.418,175.416
												c0,96.725-78.691,175.416-175.416,175.416C198.495,392.195,119.804,313.505,119.804,216.78z"/>
											</g>
										</g>
                                        <g>
											<g>
												<path class="mag_glass" fill="#FFFFFF" d="M6.057,505.942c4.038,4.039,9.332,6.058,14.625,6.058s10.587-2.019,14.625-6.058L171.268,369.98
												c8.076-8.076,8.076-21.172,0-29.248c-8.076-8.078-21.172-8.078-29.249,0L6.057,476.693
												C-2.019,484.77-2.019,497.865,6.057,505.942z"/>
											</g>
										</g>
									</g>
								</svg>
                                </button>
                            </form>
                        </div>

                        <div class="sidebar_categories">
                            <div class="sidebar_title">Places</div>
                            <div class="sidebar_list" style="margin-top: 10px">
                                <ul th:each="place : ${places}">
                                    <li><a th:href="@{/place/{id}(id = ${place.id})}" th:text="${place.getName()}"></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Sidebar Latest Posts -->

                        <div class="sidebar_latest_posts">
                            <div class="sidebar_title">Latest Posts</div>
                            <div class="latest_posts_container">
                                <ul th:if="${posts != null}" th:each="post : ${posts}">
                                    <!-- Latest Post -->
                                    <li class="latest_post clearfix" style="border-bottom: 1px solid; padding-bottom: 10px; margin-bottom: 10px">
                                        <div class="latest_post_image" style="max-width: 100px; margin-right: 10px">
                                            <a href="#"><img style="max-width: 100%" th:src="${post.getImages().get(0).getSource()}" alt=""></a>
                                        </div>
                                        <div class="latest_post_content">
                                            <div class="latest_post_title trans_200"><a th:href="@{/posts/{id}(id = ${post.id})}" th:text="${post.title}"></a></div>
                                            <div class="latest_post_meta">
                                                <div class="latest_post_author trans_200"><a href="#" th:text="${'By ' + post.getUserName()}"></a></div>
                                                <div class="latest_post_date trans_200"><a href="#">Aug 25, 2016</a></div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <!-- Sidebar Gallery -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragment/footer :: footer"></div>
</div>

<script src="../../static/js/jquery-3.2.1.min.js"
        th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../../static/styles/bootstrap4/popper.js"
        th:src="@{/styles/bootstrap4/popper.js}"></script>
<script src="../../static/styles/bootstrap4/bootstrap.min.js"
        th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<script src="../../static/plugins/OwlCarousel2-2.2.1/owl.carousel.js"
        th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script src="../../static/plugins/easing/easing.js"
        th:src="@{/plugins/easing/easing.js}"></script>
<script src="../../static/js/custom.js"
        th:src="@{/js/custom.js}"></script>

</body>

</html>