.form-control{
    font-size: 1.2rem;
}

.simditor .simditor-toolbar > ul > li > .toolbar-item{
    height: unset;
}

.simditor .simditor-toolbar > ul{
    margin-bottom: 20px;
}

.footer{
    text-align: center;
}

.footer .copyright{
    float: unset;
}

.img-wrap{
    position: relative;
    display: inline-block;
    font-size: 0;
    height: auto;
    width: 30%;
    margin-left: 5px;
}
.preview_images img{
    max-height: 30%;
    max-width: 30%;
    margin: 10px;
}
.img-wrap img{
    max-height: 100%!important;
    max-width: 100%!important;
}
.img-wrap .delete-img {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .delete-img {
    opacity: 1;
}

.preview_images{
    margin-bottom: 20px;
}

.modal-dialog{
    max-width: 700px;
}

.modal-header{
    justify-content: center;
}

.error{
    color: red;
}

.simditor-toolbar{
    left: 0 !important;
}